.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #f5eedd;
  width: 1920px;
  height: 1080px;
  position: relative;
  overflow: hidden;
}
.div2 {
  position: absolute;
  inset: 0;
}
.div3 {
  background: #f1e5d4;
  border-radius: 10px;
  width: 204px;
  height: 56px;
  position: absolute;
  left: 985px;
  top: 485px;
}
.div4 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 985px;
  top: 485px;
  width: 204px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div5 {
  background: #f1e5d4;
  border-radius: 10px;
  width: 204px;
  height: 56px;
  position: absolute;
  left: 731px;
  top: 485px;
}
.div6 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 731px;
  top: 485px;
  width: 204px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div7 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 731px;
  top: 453px;
  width: 100px;
  height: 32px;
}
.div8 {
  color: #9dd84b;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 773px;
  top: 83px;
  width: 375px;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div9 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 773px;
  top: 150px;
  width: 375px;
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: center;
}
