header {
    /* 네비게이션 바를 상단에 고정시키기 */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* 다른 요소들보다 위에 표시되도록 설정 */
}

.image-2 {
    width: 70px;
    height: 50px;
    object-fit: cover;
}

#page-wrapper {
    padding-left: 250px;
}

#sidebar-wrapper {
    position: fixed;
    width: 250px;
    height: 100vh;
    margin-left: -250px;
    background: #FFF;
    overflow-x: auto;
    overflow-y: auto;
    left: 250px;
    top : 76px;
    z-index: 998;
    border-right: 1px solid #999;
}

#page-content-wrapper {
    width: 100%;
    padding: 20px;
}
/* 사이드바 스타일 */

.sidebar-nav {
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 999;
}

.sidebar-nav li {
    border-bottom: 1px solid #999;
    text-indent: 1.5em;
    line-height: 2.8em;
}

.sidebar-nav li:last-child {
    border-bottom: none;
    border-right: none;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    color: #000;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav > .sidebar-brand {
    font-size: 1.3em;
    line-height: 3em;
}

/* 자동완성 시 생기는 파란색 배경 없애기 */
input:-webkit-autofill { -webkit-box-shadow: 0 0 0 00px #fff inset ; -webkit-text-fill-color: #000; }
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active { transition: background-color 5000s ease-in-out 0s; }