<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/change-pw/style.css" />
    <title>비밀번호 변경</title>
</head>
<body>
<div class="container">
    <h2>비밀번호 변경</h2>
    <form id="change-pw" action="/member/change-pw-ok" method="post">

        <div class="form-group">
            <label for="currentPassword">현재 비밀번호</label>
            <input type="password" id="currentPassword" name="currentPassword"/>
            <div class="passwordError" th:if="${passwordError}" th:text="${passwordError}"></div>
        </div>


        <div class="form-group">
            <label for="newPassword">변경할 비밀번호</label>
            <input type="password" id="newPassword" name="newPassword"/>
            <div class="passwordError" th:if="${newPasswordError}" th:text="${newPasswordError}"></div>
        </div>

        <div class="form-group">
            <label for="confirmPassword">비밀번호 확인</label>
            <input type="password" id="confirmPassword" name="confirmPassword"/>
            <div class="passwordError" th:if="${confirmPasswordError}" th:text="${confirmPasswordError}"></div>
        </div>


        <button type="submit" tabindex="-1">변경</button>
    </form>
</div>
</body>
</html>