<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/signup-choice/vars.css" />
    <link rel="stylesheet" href="/signup-choice/style.css" />

    <style>
      a,
      button,
      input,
      select,
      h1,
      h2,
      h3,
      h4,
      h5,
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: none;
        text-decoration: none;
        appearance: none;
        background: none;

        -webkit-font-smoothing: antialiased;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <div class="div">
      <div class="div2">
        <div class="div3"></div>
        <div class="div4">사업자</div>
      </div>
      <div class="div2">
        <div class="div5"></div>
        <div class="div6">일반 회원</div>
      </div>
      <div class="div7">회원가입</div>
      <div class="div8">인테리어몬</div>
      <div class="div9">회원가입 선택</div>
    </div>
  </body>
</html>
