<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- nav bar -->
    <header th:fragment="navbar">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img class="image-2" src="/image-20.png" alt="logo"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#">시공사례</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/estimate/application">견적의뢰</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">고객리뷰</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">커뮤니티</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <th:block th:if="${userId == null}">
                            <li class="nav-item">
                                <a class="nav-link" href="/login/login">로그인</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/member/signup">회원가입</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">고객센터</a>
                            </li>
                        </th:block>
                        <th:block th:if="${userId != null}">
                            <li class="nav-item" id="bellbox">
                                <span id="bell-badge" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">0</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bell" viewBox="0 0 20 20">
                                    <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                                </svg>
                                <div id="notification-dropdown" class="notification-dropdown">
                                    <!-- 드롭다운으로 표시될 메뉴들 -->
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/member/member-info" th:text="${nickname}+'님'">내정보</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/login/logout">로그아웃</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">고객센터</a>
                        </th:block>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="검색어를 입력하세요" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>

        <script src="/global.js"></script>
    </header>

    <div id="sidebar-wrapper" th:fragment="sidebar">
        <ul class="sidebar-nav">
            <li>
                <a href="/member/member-info">마이 프로필</a>
                <a href="#">스크랩</a>
                <a href="#">작성 게시글 목록</a>
                <a href="#">작성 리뷰 목록</a>
                <a href="#">작성 댓글 목록</a>
                <a href="#">팔로우 목록</a>
            </li>
            <li><a href="#">견적신청 내역</a></li>
            <li><a href="#">시공진행 내역</a></li>
            <li><a href="#">문의 내역</a></li>
            <li><a href="/member/edit-info">회원정보 수정</a></li>
            <li><a href="/member/change-pw">비밀번호 변경</a></li>
        </ul>
    </div>
</body>
</html>