<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./vars.css" />
    <link rel="stylesheet" href="./style.css" />

    <style>
      a,
      button,
      input,
      select,
      h1,
      h2,
      h3,
      h4,
      h5,
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: none;
        text-decoration: none;
        appearance: none;
        background: none;

        -webkit-font-smoothing: antialiased;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <div class="div">
      <div class="div2">
        <span>
          <span class="div-2-span">로그인</span>
          <span class="div-2-span2">*</span>
        </span>
      </div>
      <div class="div3">
        <div class="div4"></div>
        <div class="div5">로그인</div>
      </div>
      <div class="div3">
        <div class="div6"></div>
        <div class="div7">비밀번호</div>
      </div>
      <div class="div3">
        <div class="div8"></div>
        <div class="div9">이메일</div>
      </div>
      <div class="div10">아이디 찾기</div>
      <div class="div11">비밀번호 찾기</div>
      <div class="div12">회원가입</div>
      <div class="div13">인테리어몬</div>
      <div class="div14">로그인</div>
    </div>
  </body>
</html>
