.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #f5eedd;
  width: 1920px;
  height: 1080px;
  position: relative;
  overflow: hidden;
}
.div2 {
}
.div3 {
  background: #f1e5d4;
  border-radius: 10px;
  width: 458px;
  height: 55px;
  position: absolute;
  left: 733px;
  top: 858px;
}
.div4 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 733px;
  top: 858px;
  width: 458px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div5 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 5px;
  width: 150px;
  height: 55px;
  position: absolute;
  left: 1039px;
  top: 724px;
}
.div6 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 5px;
  width: 150px;
  height: 55px;
  position: absolute;
  left: 872px;
  top: 724px;
}
._010 {
}
._0102 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 5px;
  width: 458px;
  height: 55px;
  position: absolute;
  left: 731px;
  top: 724px;
}
._0103 {
  color: #b5b5b5;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 752px;
  top: 724px;
  width: 396px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: left;
}
.div7 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 5px;
  width: 458px;
  height: 55px;
  position: absolute;
  left: 731px;
  top: 623px;
}
.div8 {
  color: #b5b5b5;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 750px;
  top: 623px;
  width: 396px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div9 {
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 731px;
  top: 591px;
  width: 375px;
  height: 32px;
}
.div-9-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.div-9-span2 {
  color: #ff0000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.div10 {
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 731px;
  top: 692px;
  width: 375px;
  height: 32px;
}
.div-10-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.div-10-span2 {
  color: #ff0000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.div11 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 5px;
  width: 458px;
  height: 55px;
  position: absolute;
  left: 731px;
  top: 522px;
}
.div12 {
  color: #b5b5b5;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 750px;
  top: 522px;
  width: 396px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div13 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 5px;
  width: 458px;
  height: 55px;
  position: absolute;
  left: 731px;
  top: 455px;
}
._5 {
  color: #b5b5b5;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 750px;
  top: 455px;
  width: 396px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div14 {
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 731px;
  top: 423px;
  width: 375px;
  height: 32px;
}
.div-14-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.div-14-span2 {
  color: #ff0000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.div15 {
  background: #f1e5d4;
  border-radius: 10px;
  width: 111px;
  height: 55px;
  position: absolute;
  left: 1076px;
  top: 354px;
}
.div16 {
  color: red;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 1196px;
  top: 354px;
  width: 200px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: left;
}
.div17 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 5px;
  width: 458px;
  height: 55px;
  position: absolute;
  left: 731px;
  top: 354px;
}
._52 {
  color: #b5b5b5;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 750px;
  top: 354px;
  width: 282px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div18 {
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 733px;
  top: 322px;
  width: 375px;
  height: 32px;
}
.div-18-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.div-18-span2 {
  color: #ff0000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.div19 {
  color: red;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 1196px;
  top: 623px;
  width: 200px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: left;
}
.div20 {
  color: red;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 1196px;
  top: 253px;
  width: 200px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: left;
}
.div21 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 5px;
  width: 458px;
  height: 55px;
  position: absolute;
  left: 731px;
  top: 253px;
}
.div22 {
  color: #b5b5b5;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 750px;
  top: 253px;
  width: 282px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div23 {
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 731px;
  top: 218px;
  width: 458px;
  height: 32px;
}
.div-23-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.div-23-span2 {
  color: #ff0000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.div24 {
  color: #9dd84b;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 773px;
  top: 83px;
  width: 375px;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div25 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 773px;
  top: 150px;
  width: 375px;
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pwerror {
  color: red;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 1196px;
  top: 522px;
  width: 200px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.pwerror2 {
  color: red;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 1196px;
  top: 455px;
  width: 190px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.div26 {
  color: red;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 1196px;
  top: 724px;
  width: 200px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.input-long {
  width: 100%;
  height: 55px;
  outline: none;
}

.input-short {
  width: 458px;
  height: 55px;
  outline: none;
}

.btn:hover{
  cursor: pointer;
}

 /* 자동완성 시 생기는 파란색 배경 없애기 */
input:-webkit-autofill { -webkit-box-shadow: 0 0 0 00px #fff inset ; -webkit-text-fill-color: #000; }
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active { transition: background-color 5000s ease-in-out 0s; }